.terminal-footer {
  position: relative;
  z-index: -2;
  height: 150px;
  background: none repeat scroll 0% 0% #1e1e1e;
  color: #ffffff;
  /*padding: clamp(0.5rem, 2vw, 0.8rem) clamp(0.5rem, 2vw, 2rem);*/
  border-top: 1px solid #333;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
}

.footer-content {
  position: fixed;
  bottom: 54px;
  z-index: 1;
  display: flex;
  gap: clamp(0.3rem, 1vw, 1rem);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.terminal-prompt {
  color: #00ff00;
  font-family: 'Courier New', monospace;
}

.terminal-text {
  color: #ffffff;
  font-family: 'Courier New', monospace;
}